/contracts/target
/circuits/target
.env
Cargo.lock
/target
.vscode
/contracts/imt/target
/contracts/mixer/target
/contracts/poseidon/target
/node_modules
/nitro-testnode
/contracts/mixer/out
/contracts/mixer/cache
/cache